<div class="agency-seatmap-render-scope">

	<div class="agency-bus-shell">

		<div class="agency-bus-cockpit">
			<span class="agency-bus-cockpit-text">Avant du Véhicule</span>
		</div>

		<div class="agency-bus-matrix" style="--grid-cols: {{ seatmap.totalColumns }};">

			{% for cell in seatmap.cells %}

				<div class="cell-unit agency-cell agency-cell--{{ cell.type }}" data-row="{{ cell.row }}" data-col="{{ cell.col|default('') }}" data-type="{{ cell.type }}" {% if cell.type in ['seat','vip'] %} data-seat-number="{{ cell.label }}" data-action="select-seat" tabindex="0" role="button" {% endif %}>

					{% if cell.type == 'driver' %}
						<i class="fa-solid fa-id-card"></i>

					{% elseif cell.type == 'wc' %}
						<i class="fa-solid fa-restroom"></i>

					{% elseif cell.type == 'door' %}
						<i class="fa-solid fa-door-open"></i>

					{% elseif cell.type == 'aisle' %}
						{# vide volontaire #}

					{% else %}
						<span class="agency-cell-number">
							{{ cell.label }}
						</span>
					{% endif %}

				</div>

			{% endfor %}

		</div>

	</div>

</div>
