<a class="menu-link {{ page is same as('lines') ? 'active' : '' }}" href="{{path('public_lines_index')}}">Trajets</a>
<a class="menu-link {{ page is same as('package') ? 'active' : '' }}" href="{{path('public_package_index')}}">Colis</a>
<a class="menu-link {{ page is same as('business') ? 'active' : '' }}" href="#">Business</a>
<a class="menu-link {{ page is same as('contact') ? 'active' : '' }}" href="#">Contact</a>
